= semantic_form_for current_user, :html => {:class => 'default-form profile-edit'} do |f|
  = f.inputs do
    - unless current_user.profile_completed
      %p
        Wypełnij wszystkie pola oznaczone gwiazdką, aby dokończyć rejestrację.
  = f.semantic_errors
  = f.inputs :contact_data do
    = f.input :first_name, :required => true
    = f.input :last_name, :required => true
    = f.input :phone_number, :required => false
    = f.input :region, :as => :select, :collection => @regions, :prompt => "wybierz województwo...", :required => true
    = f.input :city, :required => true
  = f.inputs :portfolio_and_appearance do
    = f.input :birth_date, :as => :date, :start_year => Time.now.year-10, :end_year => 1900
    - if not current_user.profession.type == 2
      = f.input :ethnicity, :as => :select, :collection => @ethnicities, :prompt => "wybierz pochodzenie..."  
      = f.input :hair_color, :as => :select, :collection => @hair_colors, :prompt => 'wybierz kolor włosów...'
      = f.input :eye_color, :as => :select, :collection => @eye_colors, :prompt => 'wybierz kolor oczu...'
      = f.input :height, :as => :select, :collection => @height
      = f.input :weight, :as => :select, :collection => @weight
      - if current_user.gender == 'female'
        = f.input :bra, :as => :select, :collection => @bras
        = f.input :bust, :collection => @bust
      = f.input :waist, :collection => @waist
      = f.input :hips, :collection => @hips
      = f.input :dress, :collection => @dress
      = f.input :shoes, :collection => @shoes
      - if current_user.gender == 'male'
        = f.input :pants, :collection => @pants
        = f.input :neck, :collection => @neck
    = f.inputs "Zakres pracy" do
      = f.input :disciplines, :as => :check_boxes, :collection => @disciplines
    = f.inputs "Języki" do
      = f.input :languages, :as => :check_boxes, :collection => @languages
    - if current_user.profession.type == 3
      = f.inputs "Dyspozycyjność" do
        = f.input :availability, :as => :check_boxes, :collection => @availability_items

    = f.input :prefered_region, :as => :select, :collection => @prefered_regions, :include_blank => false 

  = f.inputs :others do
    = f.input :webpage
    = f.input :gadu_gadu
    = f.input :skype
    = f.input :courses
    = f.input :achievements
    = f.input :about, :as => :text

  = f.buttons do
    = f.commit_button "Zaakceptuj", :button_html => { :type => "image", :src => "#{asset_path}/images/layout/accept-button.png"}
