= semantic_form_for(defined?(resource) ? resource : User.new, :as => defined?(resource_name) ? resource_name : User.new, :url => user_registration_path, :html => {:class => "default-form"}) do |f|
  = f.semantic_errors if defined?(resource) 
  = f.inputs do
    = f.input :email
    = f.input :password
    = f.input :password_confirmation
    = f.input :login
    = f.input :company, :as => :boolean, :label => "Konto firmowe"
    = f.input :profession_id, :as => :select, :collection => Profession.find(:all), :label => true, :include_blank => false,  :prompt => "wybierz profesję..."
    = f.input :gender, :as => :select, :collection => {"Mężczyzna" => :male, "Kobieta" => :female}, :prompt => "wybierz płeć..."
  = f.buttons do
    = f.commit_button 'Zarejestruj się'

