%h1
  = @user.login
  \ - 
  = @user.profession_name

- if @user.avatar
  = image_tag @user.avatar.image_url.to_s

- if user_signed_in? && current_user != @user
  = link_to 'Wyślij prywatną wiadomość', new_user_private_message_path(@user)
  = link_to 'Zostaw referencję', new_user_reference_path(@user)
%dl
  %dt
    Imię
  %dd= @user.first_name
  %dt
    Nazwisko
  %dd= @user.last_name
  %dt
    Miejscowość
  %dd= @user.city
  %dt
    Województwo
  %dd= @user.region.name
  - if @user.phone_number
    %dt
      Numer telefonu
    %dd= @user.phone_number
  %dt
    Strona WWW
  %dd= @user.webpage
  %dt
    Wiek
  %dd= @user.age
  - if not @user.profession.type == 2
    %dt
      Pochodzenie etniczne
    %dd= @user.ethnicity.name
    %dt
      Płeć
    %dd= @user.gender_string
    %dt
      Wzrost
    %dd= @user.height_string
    %dt
      Waga
    %dd= @user.weight_string
    - if @user.female?
      %dt
        Biust
      %dd= @user.bust_string
    %dt
      Talia
    %dd= @user.waist_string
    %dt
      Biodra
    %dd= @user.hips_string
    - if @user.male?
      %dt
        Kołnierzyk
      %dd= @user.neck_string
      %dt
        Spodnie
      %dd= @user.pants_string
    %dt 
      Kolor włosów
    %dd= @user.hair_color.name
    %dt
      Kolor oczu
    %dd= @user.eye_color.name
    %dt
      Ubranie
    %dd= @user.dress_string
    %dt
      Obuwie
    %dd= @user.shoes_string
    - if @user.female?
      %dt
        Biustonosz
  %dt
    Preferowany region pracy
  %dd= @user.prefered_region.name

#about
  %h2
    O sobie
  = @user.about
#courses
  %h2
    Odbyte kursy/szkolenia
  = @user.courses

- unless @references.empty?
  #references
    %h2
      Referencje
    - @references.each do |reference|
      = reference.content
      
    

- unless @photos.empty?
  %h3
    Lista zdjęć
  %ul
    = render @photos
