#top-navigation
  - if user_signed_in? 
    Witaj, 
    = current_user.first_name ? link_to(current_user.first_name, user_path(current_user)) : 'nieznajomy' 
    = "(#{current_user.email})"
    = link_to('Wyloguj się', destroy_user_session_path, :method => :delete)

  - if not user_signed_in?
    = link_to 'Logowanie', '#login-box', :id => "login-trigger"
    = link_to 'Rejestracja', new_registration_path(:user)
    #login-box
      %h2
        Zaloguj się
      = link_to image_tag("layout/modal-close.png"), "#", :class => 'close'
      = semantic_form_for User.new, :url => user_session_path do |f|
        = f.inputs do
          = f.input :email, :label => 'E-mail: '
          = f.input :password, :label => 'Hasło: '
        = f.buttons do
          = f.input :remember_me, :as => :boolean, :label => 'Zapamiętaj mnie', :wrapper_html => {:class => 'remember-me'}
          = f.commit_button 'Zaloguj się', :button_html => { :type => "image", :src => "#{asset_path}/images/layout/login-button.png"}
        = render :partial => 'devise/shared/links', :locals => {:modal_box => 'login'}

