!!!
%html
  %head
    %title Mysenso
    = include_stylesheets :libs, :media => :all
    = include_stylesheets :screen, :media => 'screen, projection'
    = include_stylesheets :print, :media => :print
    = include_javascripts :workspace
    /[if lt IE 8]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
    /[if IE 6]
      = stylesheet_link_tag 'formtastic_ie6'
    /[if IE 7]
      = stylesheet_link_tag 'formtastic_ie7'
    = csrf_meta_tag
  %body.mysenso.bp
    #container
      #header
        = render :partial => 'layouts/top_navigation'
        = render :partial => 'layouts/main_navigation'
      #wrapper
        .padding
          - if notice
            %p.notice
              = notice
          - if alert
            %p.alert
              = alert
          = render :partial => 'layouts/edit_user_sidebar' if user_signed_in?
          #content
            .box
              %h2= yield :title 
              .padding
                = yield
      #footer
        Copyright Lucjan Suski

