!!!
%html
  %head
    %title Mysenso
    = stylesheet_link_tag :all
    = stylesheet_link_tag 'formtastic', 'my_formtastic_changes'
    = stylesheet_link_tag 'jquery.Jcrop'
    = stylesheet_link_tag 'smoothness/jquery-ui-1.8.14.custom'
    <!--[if IE 6]><%= stylesheet_link_tag 'formtastic_ie6' %><![endif]-->
    <!--[if IE 7]><%= stylesheet_link_tag 'formtastic_ie7' %><![endif]-->
    = javascript_include_tag 'http://www.google.com/jsapi?key=ABQIAAAACZjceo9tWTh3XsB7vOJQpxRmMdrakH2mb3m8-xpjrJALeOqJXRS0QNUGHJaGiKhytGwav7Mz7R7znw'
    = javascript_include_tag 'loader'
    = javascript_include_tag 'jquery_ujs'
    = javascript_include_tag 'jquery.Jcrop.min'
    = javascript_include_tag "autocomplete-rails.js"
    = csrf_meta_tag
  %body  
   
    = render :partial => 'layouts/user_navigation'
    %p.notice
      = notice
    %p.alert
      = alert
    = yield

