!!!
%html
  %head
    %title Mysenso
    = stylesheet_link_tag :all
    = stylesheet_link_tag 'formtastic', 'my_formtastic_changes'
    <!--[if IE 6]><%= stylesheet_link_tag 'formtastic_ie6' %><![endif]-->
    <!--[if IE 7]><%= stylesheet_link_tag 'formtastic_ie7' %><![endif]-->
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %body  
   
    = render :partial => 'layouts/user_navigation'
    %p.notice
      = notice
    %p.alert
      = alert
    = yield

